<link rel="stylesheet" href="/zTree/css/zTreeStyle/zTreeStyle.css" />
<script type="text/javascript" src="/zTree/js/jquery.ztree.core.min.js"></script>
<link rel="stylesheet" href="/minicolors/jquery.minicolors.css" />
<script type="text/javascript" src="/minicolors/jquery.minicolors.js"></script>
<script type="text/javascript" src="@ViewBag.Assets/wlnctrl/0.4.0/uploader.min.js"></script>
<style type="text/css">
    .ztree li span.button {
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .JsUpload {
        background-color: #f0f0f0;
    }
</style>
<div class="wln">
    <div class="wln-title">
        <strong>栏目设置</strong>
        <a onclick="NewTop()"><i class="iconfont icon-plug"></i>新增一级栏目</a>
        <a onclick="NewChild()"><i class="iconfont icon-plug"></i>新增二级栏目</a>
    </div>
    <div class="line"></div>
    <div style="display:table;width:100%;height:100%;">
        <div style="display:table-cell;vertical-align:top;width:20rem;">
            <ul id="tree" class="ztree"></ul>
        </div>
        <div style="display:table-cell;vertical-align:top;">
            <table class="wln-window-table" style="display:none;">
                <tr>
                    <td style="width:120px;">栏目属于：</td>
                    <td>
                        <select id="AreaLevel" style="line-height:2.6rem;height:2.6rem;"></select>
                        <span class="tips notnull"></span>
                    </td>
                </tr>
                <tr>
                    <td style="width:120px;">栏目名称：</td>
                    <td>
                        <input type="text" id="ColumnName" />
                        <select id="ColumnType" onchange="SelectType()" style="line-height:2.6rem;height:2.6rem;">
                            <option value="parent">父级栏目</option>
                            <option value="article" selected="selected">文章列表</option>
                            <option value="textrow">分栏内容</option>
                            <option value="linkurl">连接地址</option>
                            <option value="redirect">业务系统</option>
                        </select>
                        <span class="tips notnull">请选择栏目类型</span>
                    </td>
                </tr>
                <tr>
                    <td>栏目编码：</td>
                    <td>
                        <input type="text" id="ColumnCode" style="width:212px;" />
                        <span class="tips notnull">不能为空，且保存后将不可修改&nbsp;<a id="btnCreateCode" onclick="CreateCode();" style="display:none;">生成编码</a></span>
                    </td>
                </tr>
                <tr style="display:none;">
                    <td id="valueLable"></td>
                    <td>
                        <input type="text" id="ColumnValue" style="width:400px;" />
                    </td>
                </tr>
                <tr>
                    <td valign="top">栏目说明：</td>
                    <td>
                        <textarea type="text" id="Description" style="width:420px;height:120px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>排序：</td>
                    <td>
                        <input type="text" id="Sort" style="width:60px;" /><span class="tips">栏目排序</span>
                    </td>
                </tr>
                <tr>
                    <td style="width:120px;">状态：</td>
                    <td>
                        <select id="State" style="width:60px;line-height:2.6rem;height:2.6rem;">
                            <option value="1" selected="selected">显示</option>
                            <option value="0">隐藏</option>
                        </select>
                        <span class="tips notnull">隐藏或显示栏目</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center">
                        <a id="btnMore" onclick="showMore();">展开高级设置</a>                        
                    </td>
                </tr>
                <tr class="more_set" style="display:none">
                    <td>后台地址</td>
                    <td>
                        <input type="text" id="RedirectUrl" style="width:400px;" />
                    </td>
                </tr>
                <tr class="more_set" style="display:none">
                    <td>模块图标：</td>
                    <td>
                        <input type="hidden" name="FileList" id="FileList" />
                    </td>
                </tr>
                <tr class="more_set" style="display:none">
                    <td>模块背景色：</td>
                    <td>
                        <input type="text" id="loginBackground" onchange="colorChange(this)" style="width:137px;" class="minicolors-input" />
                    </td>
                </tr>
                <tr  class="more_set" style="display:none">
                    <td style="width:120px;">审核方式：</td>
                    <td>
                        <select id="Audit" style="width:60px;line-height:2.6rem;height:2.6rem;">
                            <option value="0" selected="selected">系统默认</option>
                            <option value="1">手动审核</option>
                            <option value="2">自动审核</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="button" value="保存" onclick="Save()" id="btnAdd" class="button green" style="border-radius:1px;" />
                        <input type="button" value="删除" onclick="Del()" id="btnDel" class="button red" style="border-radius:1px;" />
                        <input type="button" value="取消" onclick="Cancel()" class="button white" style="border-radius:1px;" />
                    </td>
                </tr>
            </table>
            <div class="empty" style="width:100%;text-align:center;line-height:400px;color:#808080;">请先选择要编辑的栏目或新增</div>
        </div>
    </div>
</div>
<script type="text/javascript">
     var uplist = createUpload('FileList', function () { }, '/rest/upload');

    sessionStorage.setItem('inline', '<li>系统</li><li>栏目设置</li>');
    var nodeId = '';
    var nodeCode = '';
    var nodeLevel = '';
    var parentCode = '';
    $.getJSON('/rest/level', {}, function (json) {
        //json.unshift({ id: 0, oid: 0, name: '当前', isParent: true });
        for (var i = 0; i < json.length; i++) {
            $('#AreaLevel').append('<option value="' + json[i].arealevel +'">' + json[i].name +'</option>')
        }
        $.fn.zTree.init($("#tree"), {
            view: {
                showLine: false
            },
            async: {
                type: 'get',
                enable: true,
                autoParam: ["code","arealevel"],
                url: '/rest/column/level'
            },
            callback: {
                onClick: function (event, treeId, treeNode, clickFlag) {
                    parentCode = '';
                    nodeId = treeNode.id;
                    nodeLevel = treeNode.arealevel;
                    nodeCode = treeNode.code ? treeNode.code : '';
                    if (treeNode.code) {
                        ShowForm(nodeCode);
                    } else {
                        Cancel();
                    }
                },
                onAsyncSuccess: function (event, treeId, treeNode, msg) {
                    $.fn.zTree.getZTreeObj(treeId).expandNode(treeNode, true, true, true);
                }
            }
        }, json);
    });
    function updataTree() {
        var tree = $.fn.zTree.getZTreeObj("tree");
        var node = tree.getSelectedNodes()[0];
        if (node) {
            if (node.level == 1) {
                node = node.getParentNode();
            } else if (node.level == 2) {
                node = node.getParentNode().getParentNode();
            }
            tree.reAsyncChildNodes(node, "refresh", false);
        } else {
            self.location.reload();
        }
    }
    function CreateCode() {
        if ($('#ColumnName').val()) {
            $.getJSON('/rest/helper?do=createcode', { "name": $('#ColumnName').val() }, function (json) {
                if (json && json.success) {
                    $('#ColumnCode').val(parentCode + json.code);
                }
            });
        } else {
            control.error('生成编码前，请填写栏目名称');
        }
    }
    function SelectType() {
        switch ($('#ColumnType').val()) {
            case 'linkurl':
                $('#valueLable').html('连接地址：').parent().show();
                break;
            case 'redirect':
                $('#valueLable').html('后台地址：').parent().show();
                break;
            default: $('#valueLable').parent().hide(); break;
        }
    }
    function ShowForm(Code) {
        $('.empty').hide();
        $('.wln-window-table').hide();
        $('#FileList').next().css({ 'background-color': '#f0f0f0' });
        if (Code) {
            $('#btnCreateCode').hide();
            $('#btnAdd').val('更新');
            $('#btnDel').show();
            $.getJSON(location.pathname + '/get', { level: nodeLevel, code: Code }, function (json) {
                if (json.ColumnCode) {
                    $('#AreaLevel').val(json.AreaLevel);
                    $('#ColumnName').val(json.ColumnName);
                    uplist.load(json.ColumnIcon);
                    $('#ColumnType').val(json.ColumnType);
                    $('#loginBackground').val(json.ColumnBgColor);
                    if (json.ColumnBgColor) {
                        $('#FileList').next().css({ 'background-color': json.ColumnBgColor });
                    }
                    $('#ColumnCode').val(json.ColumnCode).attr('readonly', 'readonly').css({ 'background-color': '#eeeeee' });
                    $('#ColumnValue').val(json.ColumnValue);
                    $('#RedirectUrl').val(json.RedirectUrl);
                    $('#Description').val(json.Description);
                    $('#Sort').val(json.Sort);
                    $('#State').val(json.State);
                    $('#Audit').val(json.Audit);
                    SelectType();
                    $('.wln-window-table').show();
                } else if (json.message) {
                    $('.empty').html(json.message).show();
                }
            });
        } else {
            $('#AreaLevel').val(nodeLevel);
            $('#ColumnName').val('');
            $('#ColumnType').val('article');
            $('#ColumnCode').val('').removeAttr('readonly').css({'background-color':'#FFFFFF'});
            $('#ColumnValue').val('');
            $('#RedirectUrl').val('');
            $('#Description').val('');
            $('#Sort').val('');
            $('#State').val('1');
            SelectType();
            $('#btnAdd').val('保存');
            $('#btnDel').hide();
            $('#btnCreateCode').show();
            $('.wln-window-table').show();
        }
    }
    function NewTop() {
        nodeId = '';
        parentCode = '';
        ShowForm('');
    }
    function NewChild() {
        if (nodeCode) {
            nodeId = '';
            parentCode = nodeCode;
            ShowForm('');
        } else {
            control.error('请先选择所属的上级栏目');
        }
    }
    function Save() {
        $.getJSON(location.pathname + '/set', {
            Id: nodeId
            , ParentCode: parentCode
            , AreaLevel: $('#AreaLevel').val()
            , ColumnCode: $('#ColumnCode').val()
            , ColumnType: $('#ColumnType').val()
            , ColumnName: $('#ColumnName').val()
            , ColumnValue: $('#ColumnValue').val()
            , RedirectUrl: $('#RedirectUrl').val()
            , Description: $('#Description').val()
            , ColumnBgColor: $('#loginBackground').val()
            , ColumnIcon: $('#FileList').val()
            , Sort: $('#Sort').val()
            , State: $('#State').val()
            , Audit: $('#Audit').val()
        }, function (json) {
            if (json.success) {
                Cancel();
                control.success(json.message, updataTree);
            } else {
                control.error(json.message);
            }
        });
    }
    function Del() {
        control.confirm('栏目删除后可再次创建相同编码的栏目，确定要删除吗?', '操作确认', function () {
            $.getJSON(location.pathname + '/del', { level: nodeLevel, code: nodeCode }, function (json) {
                if (json.success) {
                    Cancel();
                    control.success(json.message, updataTree);
                } else {
                    control.error(json.message);
                }
            });
        });
    }
    function Cancel() {
        $('.wln-window-table').hide();
        $('.empty').show();
    }
    function showMore()
    {
        if ($('#btnMore').text().startsWith('展开')) {
            $('#btnMore').text('隐藏高级设置');
        } else {
            $('#btnMore').text('展开高级设置');
        }
        $('.more_set').animate({
            height: 'toggle'
        });
    }
    function colorChange(e) {
        $('#FileList').next().css({ 'background-color': $('#loginBackground').val() });
    }
    $(function () {
        $('#loginBackground').minicolors({
            control: $('#loginBackground').attr('data-control') || 'hue',
            defaultValue: $('#loginBackground').attr('data-defaultValue') || '',
            inline: $('#loginBackground').attr('data-inline') === 'true',
            letterCase: $('#loginBackground').attr('data-letterCase') || 'lowercase',
            opacity: $('#loginBackground').attr('data-opacity'),
            position: $('#loginBackground').attr('data-position') || 'bottom left',
            change: function (hex, opacity) {
                if (!hex)
                    return;
                if (opacity)
                    hex += ', ' + opacity;
            },
            theme: ''
        });

    });

</script>