<div class="wln">
    <div class="wln-title">
        <span>
            <input type="text" id="searchkey" onkeydown="ToSearch(event)" placeholder="按回车键进行查找" />
        </span>
        <strong>@Html.Raw(ViewBag.OrganPath)</strong>
    </div>
    <div class="line"></div>
    <table id="dataTable" class="wln-table">
        <tr>
            <td style="width:58px; text-align:center;" field="Sort">排序</td>
            <td style="width:auto; text-align:left;" field="Name">名称</td>
            <td style="width:240px; text-align:left;" field="FamilyCount">总数(单位/户)</td>
            <td style="width:320px; text-align:left;" function="Archive">未审核/已审核(单位/篇)</td>
            <td style="width:198px;" function="onAction">操作</td>
        </tr>
    </table>

</div>
<script type="text/javascript">
    sessionStorage.setItem('inline', '<li>系统</li><li>下级区域</li><li>内容管理</li>');
    var table = control.datagrid('dataTable', location.pathname + '/pager?parent=@ViewBag.Parent', 16);
    function ToSearch(e) {
        if (e.keyCode == 13) {
            table.pageIndex = 1;
            table.load({ key: $('#searchkey').val() })
        }
    }
    table.Archive = function (e) {
        return e.NotAudited + '/' + e.Archiveys;
    }
    table.onAction = function (e) {
        var str = '';
        str += '<a href="/system/select?to=' + e.Id + '&parent=true" target="_top">管理此区域</a>';
        if (e.Child > 0) {
            str += '　<a href="levelorgan?parent=' + e.Id + '">下级区域</a>';
        } else {
            str += '　<font style="color:#999999;">下级区域</font>';
        }
        return str;
    }
</script>