<body class="wln">
<style>
    .alist {text-align:center;}
    .alist > a, .alist > a:link, .alist > a:hover, .alist > a:visited {display:block;padding:6px;text-align:center;width:300px;border:1px solid #0094ff;margin:5px auto;color:#333333;}
    .alist > a:hover {border: 1px solid #ff6a00; }
</style>
<div class="alist">@Html.Raw(ViewBag.OrganList)<a class="button button-little" href="/?do=logout" target="_top">退出</a></div>
</body>
