<div class="wln">
    <div class="wln-title">
        <span>
            <input type="text" id="searchkey" onkeydown="ToSearch(event)" placeholder="按回车键进行查找" />
        </span>
        <strong>用户管理</strong><a onclick="Form('')"><i class="iconfont icon-plug"></i>新增</a>
    </div>
    <div class="line"></div>
    <table id="dataTable" class="datagrid">
        <tr>
            <td style="width:38px; text-align:center;" field="RowIndex">序号</td>
            <td style="width:68px; text-align:center;" field="Username">登录账号</td>
            <td style="width:88px; text-align:center;" field="TrueName">姓名</td>
            <td style="width:128px; text-align:center;" field="Department" class="datagrid-orderby">部门/区域</td>
            <td style="width:128px; text-align:center;" field="Position" class="datagrid-orderby">职位</td>
            <td style="width:108px; text-align:center;" field="LastLogin" class="datagrid-orderby">最近登录</td>          
            <td style="width:256px;" function="onAction">操作</td>
        </tr>
    </table>

    <div class="wln-window" id="userinfo">
        <table class="wln-window-table">
            <tr>
                <td>登录帐号：</td>
                <td>
                    <input type="text" id="Username" /><span class="tips notnull">请使用人员手机号</span>
                </td>
            </tr>
            <tr>
                <td>用户姓名：</td>
                <td>
                    <input type="text" id="TrueName" /><span class="tips notnull">用户姓名，用于识别及操作记录</span>
                </td>
            </tr>
            <tr>
                <td>部门/区域：</td>
                <td>
                    <input type="text" id="Department" /><span class="tips"></span>
                </td>
            </tr>
            <tr>
                <td>职位：</td>
                <td>
                    <input type="text" id="Position" /><span class="tips"></span>
                </td>
            </tr>
        </table>
        <div class="wln-window-btns">
            <a class="button green" onclick="Save();">确定</a>
            <a class="button white" onclick="control.close()">关闭</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    sessionStorage.setItem('inline', '<li>系统</li><li>用户管理</li>');
    var table = control.datagrid('dataTable', location.pathname + '?do=list', 10);
    function ToSearch(e) {
        if (e.keyCode == 13) {
            table.pageIndex = 1;
            table.load({ key: $('#searchkey').val() })
        }
    }
    table.State = function (e) {
        if (e.State == '正常') {
            return '<font style="color:#7DB72F">' + e.State + '</font>';
        } else {
            return '<font style="color:#999999">' + e.State + '</font>';
        }
    }
    table.onAction = function (e) {
        var str = '';
        str += '<a href="rightcontent?userid=' + e.UserId + '">内容权限</a>　';
        str += '<a href="rightsystem?userid=' + e.UserId + '">系统权限</a>　';
        str += '<a href="rightorgan?userid=' + e.UserId + '">区域权限</a>　';
        str += '<a onclick="Form(\'' + e.Id + '\')">编辑</a>　';
        str += '<a onclick="Del(\'' + e.Id + '\')">删除</a>';
        return str;
    }
    var thisId = '';
    function Form(Id) {
        thisId = '';
        control.window('userinfo', Id ? '编辑' : '新增', 520, 290,
            function () {
                if (Id) {
                    $.getJSON(location.pathname + '?do=get', { Id: Id }, function (json) {
                        if (json && json.Id) {
                            thisId = json.Id;
                            $('#Username').val(json.Username);
                            $('#TrueName').val(json.TrueName);
                            $('#Department').val(json.Department);
                            $('#Position').val(json.Position);
                        }
                    });
                } else {
                    $('#trArea').show();
                }
            },
            function () {
                //关闭时回调
            });
    }
    function Save() {
        $.getJSON(location.pathname + '?do=set', {
            Id: thisId
            , Username: $('#Username').val()
            , TrueName: $('#TrueName').val()
            , Department: $('#Department').val()
            , Position: $('#Position').val()
        }, function (json) {
            if (json.success) {
                table.load({ key: '' })
                table.reload();
                control.close();
            } else {
                control.error(json.message);
            }
        });
    }
    function Del(Id) {
        control.confirm('用户一旦删除将不可恢复，确定要删除吗?', '操作确认', function () {
            $.getJSON(location.pathname + '?do=del', { Id: Id }, function (json) {
                if (json.success) {
                    table.reload();
                    control.success(json.message);
                } else {
                    control.error(json.message);
                }
            });
        });
    }
    function RePwd(Id) {
        control.confirm('确定要将用户密码重置为默认密码（@ViewBag.DefaultPwd）吗?', '操作确认', function () {
            $.getJSON(location.pathname + '?do=del', { Id: Id }, function (json) {
                $.getJSON(location.pathname + '?do=repwd', { Id: Id }, function (json) {
                    if (json.success) {
                        control.success(json.message);
                    } else {
                        control.error(json.message);
                    }
                });
            });
        });
    }
</script>