<style>
.diy-phone {width: 328px;height:auto;border: 1px solid #ddd;border-radius: 10px;background: #fff;padding: 10px;overflow: hidden;}
.diy-phone .phone-head {height: 44px;background: #fff;position: relative;}
.diy-phone .phone-head:before {content: "";position: absolute;top: 15px;left: 112px;height: 8px;width: 8px;background:#ddd;border-radius: 8px;}
.diy-phone .phone-head:after {content: "";position: absolute;top: 15px;left: 128px;height: 8px;width: 50px;background: #ddd;border-radius: 8px;}
.diy-phone .phone-title {height: 54px;background-size: 100% auto;padding: 0 50px;font-size: 15px;
color: #fff;text-align: center;line-height: 68px;cursor: default;overflow: hidden;display: block;white-space: nowrap;text-overflow: ellipsis;}
.diy-phone .phone-main {height: 400px;overflow-y: scroll;border: 1px solid #ddd;border-top: 0;-webkit-touch-callout: none;
-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.diy-phone .phone-foot {height: 24px;width: 60px;margin: 15px auto 5px;border: 1px solid #ddd;border-radius: 5px;}

.diy-phone .phone-main::-webkit-scrollbar {width: 4px;height:4px;background-color: #F5F5F5;display:none;}
.diy-phone .phone-main::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);border-radius: 2px;background-color: #F5F5F5;}
.diy-phone .phone-main::-webkit-scrollbar-thumb {border-radius: 2px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);background-color: #555;}
.diy-phone .phone-main:hover::-webkit-scrollbar{display:block;}
</style>
<body class="wln">
    <div class="diy-phone">
        <div class="phone-head"></div>
        <div class="phone-body">
            <div class="phone-main ui-sortable" id="phone" style="background-color: rgb(250, 250, 250);text-align:center;">
                            <iframe id="ifr" src="@Html.Raw(ViewBag.LinkUrl)" style="width:320px;"></iframe>
            </div>
        </div>
        <div class="phone-foot"></div>
    </div>
</body>
<script type="text/javascript">
    $(".phone-main").css("height", $(window).height() - 170 + "px");
    $("#ifr").css("height", $(".phone-main").height()-8+"px");
</script>