<script type="text/javascript" src="@ViewBag.Assets/wlnctrl/0.4.0/uploader.min.js"></script>
<div class="wln">
    <div class="wln-title">
        <strong>批量导入</strong>
    </div>
    <table class="wln-window-table">
        <tr>
            <td style="vertical-align:top">请选择txt类型的文件：</td>
            <td>
                <div id="txt" style="display:inline-block;"></div>
                <input type="hidden" id="uploader" name="uploader" />
            </td>
        </tr>
    </table>
</div>
<script>
    var txt = createUplist('txt', function (json) { 
        if (json.success) {
            wln.alert("批量导入共" + json.total + "条," + json.count + "条成功," + json.exist + "条失败", false);
        }
    }, '/super/batchimport?do=import', true);
</script>